.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 5rem;
  width: 22rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: grey;
    transform: translateY(-6px);
    cursor: pointer;
    background-color: #ffffff;
  }
}
