.hero {
  background-image: url("../assets/images/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  @include respond(tab-land) {
    background-image: url("../assets/images/media-queries/hero-tab-land.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @include respond(tab-port) {
    background-image: url("../assets/images/media-queries/hero-tab-port.jpg");
  }

  @include respond(phone-land) {
    background-image: url("../assets/images/media-queries/hero-tab-land.jpg");
    background-position: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
  }

  @include respond(phone-port) {
    background-image: url("../assets/images/media-queries/hero-tab-port.jpg");
    background-position: left;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__text-container {
    width: 40rem;
    height: max-content;
    margin: 10% 10% 0 0;

    @include respond(laptop) {
      margin: 10% 7% 0 0;
    }

    @include respond(tab-land) {
      margin: 13% 7% 0 0;
    }

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      margin: 8rem 0;
    }

    @include respond(phone-land) {
      width: 43%;
      text-align: right;
      margin: 0;
      margin-right: 4rem;
    }

    @include respond(phone-port) {
      width: 100%;
      text-align: center;
      margin: 3rem 0;
    }
  }

  &__second-text-container {
    margin-top: 6rem;

    @include respond(phone-land) {
      margin-top: 3rem;
    }
  }

  &__paragraph {
    font-size: 1.8rem;

    @include respond(phone-land) {
      font-size: 1.6rem;
    }

    @include respond(iphone-5) {
      font-size: 1.4rem;
    }
  }

  &__author {
    font-size: $sub-header;
    margin-top: 1rem;

    @include respond(phone-land) {
      font-size: 4rem;
    }

    @include respond(iphone-5) {
      font-size: 3.5rem;
    }
  }

  &__headline {
    font-size: 8rem;
    margin-top: 2rem;

    @include respond(phone-land) {
      margin-top: 2rem;
      font-size: 5.5rem;
    }

    @include respond(phone-port) {
      font-size: 4.5rem;
    }

    @include respond(phone-port) {
      font-size: 5rem;
    }

    @include respond(iphone-5) {
      font-size: 4rem;
      line-height: 1.2;
      margin-top: 1.5rem;
    }
  }
}
