.hero {
  background-image: url("https://cdn.salesjet.io/122/funnel_files/1119/151_hero.8f275ab7d9e8885bd9626ce179102b4c.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  color: $white;

  @include respond(tab-port) {
    background-size: cover;
    background-repeat: auto;
    display: flex;
    flex-direction: column;
  }

  @include respond(phone-land) {
    height: 168vh;
    background-size: cover;
    background-position: center;
    min-height: max-content;
  }

  @include respond(phone-port) {
    height: 145vh;
    background-size: cover;
    background-position: center;
    min-height: max-content;
  }

  @include respond(iphone-7) {
    height: 155vh;
  }

  @include respond(iphone-5) {
    height: 165vh;
  }

  &__paragraph {
    @include respond(iphone-5) {
      font-size: 1.4rem;
    }
  }

  &__logo {
    position: absolute;
    right: 5rem;
    top: 4rem;
    width: 8rem;

    @include respond(laptop) {
      right: 50%;
      transform: translateX(50%);
    }

    @include respond(tab-land) {
      width: 6rem;
    }

    @include respond(tab-port) {
      position: absolute;
      top: 3rem;
      left: 0;
    }

    @include respond(phone-land) {
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @include respond(phone-port) {
      position: static;
      transform: translate(0);
      margin: 2rem auto 0 auto;
    }
  }

  &__left-container {
    position: absolute;
    top: 8rem;
    left: 23rem;
    width: 32rem;

    @include respond(laptop) {
      left: 10rem;
    }

    @include respond(tab-land) {
      top: 3rem;
      left: 8rem;
    }

    @include respond(tab-port) {
      position: static;
      margin-top: 2rem;
      text-align: center;
      width: 100%;
      top: 0;
    }

    @include respond(phone-land) {
      position: absolute;
      top: 1rem;
      left: 3rem;
      width: 20rem;
      text-align: left;
    }

    @include respond(phone-port) {
      position: static;
      margin-top: 0;
      text-align: center;
      width: 85%;
      top: 0;
      margin: 0 auto;
    }
  }

  &__right-container {
    position: absolute;
    top: 12rem;
    right: 23rem;
    width: 25rem;
    text-align: right;

    @include respond(laptop) {
      top: 8rem;
      right: 10rem;
    }

    @include respond(tab-land) {
      right: 8rem;
    }

    @include respond(tab-port) {
      position: static;
      text-align: center;
      width: 100%;
    }

    @include respond(phone-land) {
      position: absolute;
      text-align: right;
      right: 3rem;
      top: 1rem;
      width: 25rem;
    }

    @include respond(phone-port) {
      position: static;
      text-align: center;
      width: 85%;
      margin: 0 auto;
    }
  }

  &__small-title {
    font-size: 6rem;
    line-height: 6rem;

    @include respond(tab-port) {
      font-size: 4rem;
    }

    @include respond(phone-land) {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    @include respond(iphone-5) {
      font-size: 2.5rem;
    }

    &--apg {
      width: 80%;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    &--stacy {
      margin-bottom: 4rem;

      @include respond(tab-port) {
        margin-bottom: 2rem;
      }

      @include respond(phone-land) {
        margin-bottom: 0;
      }
    }
  }

  &__big-title {
    position: relative;
    right: 11rem;
    font-size: 8rem;
    line-height: 8rem;
    text-align: right;
    width: min-content;

    @include respond(tab-land) {
      font-size: 6rem;
      right: 3rem;
      line-height: 6rem;
    }

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      position: static;
    }

    @include respond(phone-land) {
      text-align: right;
      position: static;
      font-size: 4rem;
      line-height: 5rem;
      margin-bottom: 0rem;
    }

    @include respond(phone-port) {
      width: 100%;
      text-align: center;
      position: static;
      margin-top: 25rem;
    }

    @include respond(iphone-7) {
      margin-top: 12rem;
    }

    @include respond(iphone-5) {
      margin-top: 14rem;
    }
  }

  &__small-container {
    width: 40%;

    @include respond(tab-port) {
      width: 45%;
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
    }

    @include respond(phone-land) {
      position: relative;
      width: 100%;
      margin-right: 20rem;
    }

    @include respond(phone-port) {
      width: 100%;
      position: static;
      margin: 0 auto;
      transform: translateX(0);
    }
  }

  &__countdown-container {
    position: absolute;
    right: 0;
    margin-top: 3rem;
    text-align: center;

    @include respond(tab-land) {
      margin-top: 2rem;
    }

    @include respond(tab-port) {
      position: static;
    }

    @include respond(phone-land) {
      position: absolute;
      right: 0;
    }

    @include respond(phone-port) {
      position: static;
      right: 0;
      width: 100%;
    }

    &--intro {
      font-size: 1.8rem;

      @include respond(phone-land) {
        font-size: 1.6rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
        text-align: right;
      }

      @include respond(phone-port) {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
}
